doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="style.css")

    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="script.js")
  body
    div#thumbnail_wrapper
      div#thumbnail_inner_wrapper
        img.thumbnail(src='1thumb.jpeg')
        img.thumbnail(src='2thumb.jpeg')
        img.thumbnail(src='3thumb.jpeg')
        img.thumbnail(src='4thumb.jpeg')
        img.thumbnail(src='5thumb.jpeg')
        img.thumbnail(src='6thumb.jpeg')
    button#like like
    div#panel
      img#cover
      p#book_contents