doctype html
html
	head
	body
		a(href='/') home
		form(action='/users' method='post')
			label name
			input(name='name')
			label email
			input(name='email')
			label password
			input(name='password')
			input(type='submit' value='create user')